{% extends "base.html" %}

{% block content %}
{% load static %}
  <h1>Create a New Variation</h1>

  <div id="board-pgn-container" style="width:100%; display: flex; flex-direction: row; align-items: center;">

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
      </form>
    
    <div id="board-container" style="width:400px; display: flex; flex-direction: column; align-items: center;">
      <div id="myBoard" style="width: 400px"></div>
      <div id="controls-container" style="display: flex; margin-top: 10px;">
          <button id="back-button" style="margin-right: 10px;">
          <img src="{% static 'img/back.png' %}" alt="Back">
          </button>
          <button id="forward-button">
          <img src="{% static 'img/forward.png' %}" alt="Forward">
          </button>
      </div>
  </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>

<script src="{% static 'js/chessboard.js' %}"></script>
<script src="{% static 'js/variation.js' %}"></script>

{% endblock %}
